<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exchange.yes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.exchange.yes.app.LoginActivity2"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
         <activity
            android:name="com.exchange.yes.app.HomepageActivity"
            android:label="@string/title_activity_homepage" >
        </activity>
        
        <activity
            android:name="com.exchange.yes.HomePage_Activity"
            android:label="@string/title_activity_homepage" >
        </activity>
        <activity
            android:name="com.exchange.yes.AskActivity"
            android:label="@string/title_activity_ask" >
        </activity>
        <activity
            android:name="com.exchange.yes.app.AskQuickActivity"
            android:label="@string/title_activity_ask_quick" >
        </activity>
        <activity
            android:name="com.exchange.yes.app.AskCusromActivity"
            android:label="@string/title_activity_ask_cusrom" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.ButtonsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.exchange.yes.SwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.Home2Fra"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre..ProgressActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.WidgetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.ExchangeActivity"
            android:label="@string/title_activity_exchange" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.exchange.yes.app.MineActivity"
            android:label="@string/title_activity_mine" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.NichengActivity"
            android:label="@string/title_activity_nicheng" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.BindingActivity"
            android:label="@string/title_activity_binding" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name="com.exchange.yes.pre.QuickTradeActivity"
            android:label="@string/title_activity_quick_trade" >
        </activity>
        <activity
            android:name="com.exchange.yes.app.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
       
    </application>

</manifest>